:root {
  --dark-orange: #ffb100;
  --orange: #fbc252;
  --white: #f0eccf;
  --green: #a3bb98;
  --dark-green:#7c8f74;
}

/*Nav Menu Styling*/
.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-menu a {
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.nav-menu a:hover {
  text-decoration: underline;
  color: gray;
}

/*Hero Section Styling*/

.hs {
  color: black;
}

#hs-button {
  margin-top: 40px;
  transition: all 0.3s ease;
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 16px;
  background-color: var(--green);
}
#hs-button:hover {
  border-radius: 10px;
  background-color: var(--dark-green);
}

.hs-image {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/hsbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/*Aboutme section Styling*/

#aboutme-paragraph {
  text-wrap: nowrap;
  white-space: pre-line;
  max-width: 50%;
  text-align: center;
}

div.aboutme-flex-container {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
div.aboutme-img-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.aboutme-flex-image {
  max-width: 200px;
  object-fit: contain;
}

div#aboutme {
  background-color: var(--white);
  padding-top: 50px;
  padding-bottom: 50px;
}

h2.aboutme {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
}

/*Gallery section Styling*/

div#gallery {

  padding: 50px 0 50px 0;
background-color: var(--orange);

}

div.gallery-flex-container {
  margin: 50px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-image {
  margin: 5px;
  border: solid 3px #a3bb98 ;
  max-width: 200px;
  object-fit: contain;
}

h2.gallery {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 20px;
  margin:0px;
  text-align: center;
}

/*Footer Styling*/

footer {

background-color: var(--orange);

}

div.social-flex-container {

  padding: 10px 0px 10px 0px;
display:flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
flex-wrap: nowrap;
flex-basis: auto;
flex-grow: 1;


}

.hidden {

visibility: hidden;

}

div.social-item {

  padding-right: 29px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}
.social-icon {


margin:0 5px 0px 5px;


}

div.social-item a {

text-decoration: none;
color: black;
font-family: Arial, Helvetica, sans-serif;
font-weight: 550;


}

div.social-item a:hover {

text-decoration: underline;
color: var(--dark-orange);
font-family: Arial, Helvetica, sans-serif;
font-weight: 550;


}

div.copyright-text {

margin:0 auto;
display: flex;
align-items: center;
justify-content: center;

}
div.copyright-text p {

text-align: center;
padding: 20px 0 20px 0;
margin: 0;

}

hr#footer-separator {

margin: 0 auto;
padding: 0;

}

/*Contact me styling*/

div#contact-me {

padding: 50px 0 50px 0;
background-color: var(--white);

}

.vis-none {

display: none;

}
#successmessage {

margin: 0 auto;
color: green;
text-align: center;

}
#failmessage {
  text-align: center;
color: red;
margin: 0 auto;

}

h2.contact-me {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 20px;
  margin:0px;
  text-align: center;
}

form#contact-me-form input {

  border: none;
  border-radius: 5px;
margin: 15px 0;
min-height: 20px;
  width: 100%;
  padding: 5px;


}

#contact-me-textarea {

  padding: 5px;
  border: none;
  border-radius: 5px;
width: 100%;
resize: none;

}
form#contact-me-form input:focus {

border: solid 2px var(--green);
outline: none;


}

#contact-me-textarea:focus {
  border: solid 3px var(--green);
  outline: none;

}

button#contact-me-submit {
  margin: 25px auto;
  transition: all 0.3s ease;
  width: 8rem;
  height: 2rem;
  border: none;
  border-radius: 16px;
  background-color: var(--green);
}
button#contact-me-submit:hover {
  border-radius: 10px;
  background-color: var(--dark-green);
}

div.label-input-div {

  width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

}

.form-flex-container {

  width: 100%;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;

}

.form-holder {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
flex-wrap: nowrap;

}

form#contact-me-form {

  width: 50%;
margin: 0 auto;
align-self: center;

}

/*Images Styling*/

#logoimg {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

/*General Elements Styling*/

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--white);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 13px;
  font-weight: bold;
}

hr {
  margin: 0;
  height: 2.5px;
  background-color: var(--green);
  border: none;
}

hr.separator {
  width: 50px;
  margin: 10px auto;
}

/*Responsive styles*/


@media (max-width: 768px) {
  div.social-flex-container {

flex-direction: column;
flex-wrap: wrap;

  }
  div.social-item {

padding-right: 0px;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}
icon.hidden {display: none; visibility: visible;}
}