:root {

    --dark-orange: #FFB100;
    --orange: #FBC252;
    --white: #F0ECCF;
    --green: #A3BB98;

}


/*Nav Menu Styling*/
.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.nav-menu a {
  margin-left: 25px;
  margin-right: 25px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: bold;
}

.nav-menu a:hover {
  text-decoration: underline;
  color: gray;
}

/*Hero Section Styling*/

.hs {color: black;}

.hs-image {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/hsbg.png");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}

/*Images Styling*/

#logoimg {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

/*General Elements Styling*/

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--white);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

hr {
  margin: 0;
  height: 2.5px;
  background-color: var(--green);
  border: none;
}
